<!DOCTYPE html>
<html lang="uk">
{% load static %}
<head>
    <title>MyBlog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link type="text/css" href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>
            <img src="{% static 'images/blog_logo.gif' %}" alt="Логотип" class="logo">
            Мій Блог
            <img src="{% static 'images/blog_logo.gif' %}" alt="Логотип" class="logo">
        </h1>
        <div>
            <ol class="breadcrumb">
                <li><a href="/">Головна</a></li>
                <li><a href="{% url 'articles-list' %}">Публікації</a></li>
                <li>{{ item.title|upper }}</li>
            </ol>
        </div>
        {% block content %}
        {% endblock %}
    </div>
    <!-- Javascripts Section -->
    <script src="{% static 'js/jquery.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
</body>
</html>
